.button {
    font-family: 'Press Start', sans-serif;
    font-size: 0.6rem;
    border-radius: 2px;
    padding: 0.4rem;
    cursor: pointer;
    border-top: solid white;
    border-left: solid white;
    border-bottom: solid #00000073;
    border-right: solid #00000073;
}
