#footer {
    a {
        --width: 100%;
        --y: 5px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: var(--width);
            height: 2px;
            background: white;
            bottom: 0;
            left: 0%;
            transform: translateY(var(--y));
            margin-top: 5px;
            transition: all 200ms ease;
        }

        &:hover {
            --width: 115%;
            // --y: 7px;
        }
    }
}
